body {
  overflow: hidden;
  margin: 0;
  font-family: "Saira Semi Condensed", "Open Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.banner {
  display: flex;
  background: #003cdc;
  align-items: center;
  justify-content: space-evenly;
  height: 17.5vh;
  margin-top: -25px;
}

.title {
  color: white;
  margin: 0px;
  font-size: 5rem;
  font-weight: 400;
}

.facts-container {
  line-height: 75vh;
  overflow: hidden;
  font-family: "Open Sans";
  font-size: 5rem;
  margin: 17.5vh auto;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide p {
  width: 90%;
  height: 100%;
  line-height: 150%;
  margin: 0px auto;
}
